{% extends 'base.html' %}
{% block title %}
Home
{% endblock%}

{% block content %}
<div class="header">Analisis Sentimen Halodoc.</div>
<div class="info">
    <div class="col">
        <div class="card">
            <div class="card-header">
            Deskripsi
            </div>
            <div class="card-body">
                <p>Halodoc merupakan sebuah aplikasi dan situs web asal Indonesia yang bergerak di bidang kesehatan. PT Media Dokter Investama, perusahaan aplikasi ini didirikan pada tahun 2016 di Jakarta oleh Jonathan Sudharta. . Tujuan dari aplikasi Halodoc yaitu simplifying healthcare atau memberi kemudahan akses Kesehatan untuk masyarakat Indonesia. Halodoc merupakan platform aman yang menghubungkan pasien dengan dokter berlisensi, asuransi, laboratorium, dan apotek menjadi satu dalam aplikasi seluler. Visi dan misi Halodoc berdasarkan dari company profile yang penulis dapatkan dari HR Halodoc melalui email yaitu, visi adalah menjadi pendamping perawatan kesehatan digital terpercaya dan misinya adalah mempermudah akses perawatan kesehatan melalui teknologi.</p>
            </div>
        </div>
    </div>
</div>
{% endblock%}