{% extends 'base.html' %}
{% block title %}
Preprocessing
{% endblock%}

{% block content %}
<div class="header">Analisis Sentimen Halodoc.</div>
<div class="info">
    <div class="container">
        <div class="d-flex justify-content-center">
            <form method="post">
                <input type="submit" class="btn btn-outline-danger mr-4" value="Crawling Data" name="Data"/>
                <input type="submit" class="btn btn-outline-danger mr-4" value="Case Folding" name="Data" />
                <input type="submit" class="btn btn-outline-danger mr-4" value="Text Cleaning" name="Data"/>
                <input type="submit" class="btn btn-outline-danger mr-4" value="Normalisasi" name="Data" />
            </form>
        </div>
    </div>
      
      <!-- <div class="card text-center">
        <div class="card-body">
            <button class="btn btn-outline-danger mr-3">Crawling Data</button>
            <button class="btn btn-outline-danger mr-3">Case Folding</button>
            <button class="btn btn-outline-danger mr-3">Text Cleaning</button>
            <a class="btn btn-outline-danger mr-3" href="#" role="button">Normalisasi</a>
        </div>
    </div> -->
    <div class="card">
        <div class="card-header">
            {{judul}}
        </div>
        <div class="card-body">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        {% for i in header %}
                            <th>{{i}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in results%}
                    <tr>
                        {% for j in i %}
                            <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}